{% extends "Admin/layout.html.twig" %}

{% block title %}お問い合わせ管理{% endblock %}

{% block body %}
<h2 class="sub-header">お問い合わせ管理</h2>

<div>
    {{ form_start(form, {'attr': {'id':'searchForm', 'novalidate': 'novalidate'}}) }}
    検索：{{ form_widget(form.search) }}

    {{ form_widget(form.submit, {"attr": {"class":"btn btn-default searchButton"}}) }}
    {{ form_end(form) }}

    <a class="btn btn-default downloadButton">CSVダウンロード</a>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>日時</th>
        <th>名前</th>
        <th>種別</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for inquiry in inquiryList %}
        <tr>
            <td>{{ inquiry.id }}</td>
            <td></td>
            <td>{{ inquiry.name }}</td>
            <td>{% if inquiry.type == 0 %}公演について{% else %}その他{% endif %}</td>
            <td>
                <a class="btn btn-default" href="{{ path("app_admininquiryedit_input", {"id": inquiry.id}) }}">詳細</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$('.downloadButton').click(function() {
    $('#searchForm').attr('action', '{{ path("app_admininquirylist_index", {"_format":"csv"}) }}');
    $('#searchForm').submit();
});
$('.searchButton').click(function() {
    $('#searchForm').attr('action', '{{ path("app_admininquirylist_index", {"_format":"html"}) }}');
    $('#searchForm').submit();
});
</script>
{% endblock %}
